<ion-content>
  <app-content-area title="">
    <app-app-title titles="Información de la empresa"></app-app-title>

    <div class="name_id">
      <div class="name">
      <app-icon-bar 
        label="Nombre"        
        placeholder="Ingresa nombre"                        
        type="text"
        iconName="storefront-outline">          
      </app-icon-bar> 
    </div>

    <div class="id">    
      <app-icon-bar 
        label="NIT"        
        placeholder="NIT"                        
        type="text"
        iconName="apps-outline">          
      </app-icon-bar>  
      </div>
    </div>

    <div class="contact">
      <app-icon-bar 
        label="Número de teléfono 1"        
        placeholder="Ingresa número de teléfono"                        
        type="text"
        iconName="call">          
      </app-icon-bar>  

      <app-icon-bar 
        label="Número de teléfono 2"        
        placeholder="Ingresa otro número de teléfono"                        
        type="text"
        iconName="call">          
      </app-icon-bar>  

      <app-icon-bar 
        label="Dirección"        
        placeholder="Ingresa dirección..."
        type="text"
        iconName="location-outline">          
      </app-icon-bar>
    </div>    

  <app-lines></app-lines>

  <app-app-title titles="Tipo de empresa"></app-app-title>
      <app-icon-bar 
        label="Dirección"        
        placeholder="Ingresa dirección..."
        type="text"
        iconName="business-outline">          
      </app-icon-bar>  

  <app-lines></app-lines>

  <app-app-title titles="Datos de usuario"></app-app-title>    

      <div class="user">
        <app-icon-bar 
          label="Usuario"        
          placeholder="Ingresa dirección..."
          type="text"
          iconName="person">          
        </app-icon-bar>  

        <app-icon-bar 
          label="Contraseña"        
          placeholder="Ingresa dirección..."
          type="password"
          iconName="key">          
        </app-icon-bar>  

        <ion-button 
          size="large" 
          expand="block"
          disabled
          >Restablecer
        </ion-button>

      </div>     


      <div class="buttons">
        <ion-button 
          size="large" 
          expand="block"
          >Guardar
        </ion-button>
        <ion-button 
          size="large" 
          expand="block"
          color="danger"
          >Cancelar
        </ion-button>
      </div>
      
      <app-lines></app-lines>
      <app-lines></app-lines>
      
  </app-content-area>

  <!-- 
  <app-fab-button>
  </app-fab-button>
  -->
  

  <!--
  <div class="contentPage">
    <div class="contentPage__title">
      Lista Domicilios
    </div>
    <div class="contentPage__content">
      <div class="contentPage__content__table">
        <app-data-table 
          [columns]="columns"   
          [data]="data"           
          [options]= "true"
          [optionsDelete]="false"
          (editEvent)="gotoEdit($event)"
          >
      </app-data-table>
      </div>
    </div>
  </div>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>