<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Selecciona el motivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentPage">
    <div class="contentPage__title">
      <div class="contentPage__title__back" onclick="window.history.go(-1);">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <div class="contentPage__title__back__text">Cerrar</div>
      </div>
      <div class="contentPage__title__text"></div>
    </div>
    <div class="contentPage__content">
      <div class="contentPage__content__form">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="12" size-lg="12">
              <ion-button color="success" expand="full">cancelar 1</ion-button>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="12">
              <ion-button color="success" expand="full">cancelar 2</ion-button>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="12">
              <ion-button color="success" expand="full">cancelar 3</ion-button>
            </ion-col>

          </ion-row>

        </ion-grid>
      </div>
    </div>
  </div>
</ion-content> -->


<div>
  <h1>sdfsfdsfsd</h1>
</div>