<ion-content>
  <div class="contentPage">
    <ion-title>Domicilios</ion-title>
    <div class="contentPage__content">
      <div class="contentPage__content__table">
        <app-data-table 
          [columns]="columns"   
          [data]="data"           
          [options]= "true"
          (editEvent)="gotoEdit($event)"
          (deleteEvent)="delete($event)"
          >
      </app-data-table>
      </div>
    </div>
  </div>

  <app-fab-button (click)="gotToNew()">
  </app-fab-button>
  
</ion-content>
