<ion-content>
  <div class="inicio">
    <div class="inicio__bienvenido">
      Hola, {{user?.Nombre}}, Bienvenido a DomiApp.
    </div>
    <div class="inicio__body">
      <div class="inicio__body__domicilio">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item-divider color="success">
                <ion-label>
                  SOLICITAR UN NUEVO DOMICILIO
                </ion-label>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="12" size-lg="8">
             
              <ion-row>
                <ion-col size="12" size-md="12" size-lg="12" *ngIf="user?.permisos=='1'" >
                  <ion-item>
                    <ion-label>Indica el Emprendedor</ion-label>
                    <ion-select placeholder="Indica el Emprendedor" [(ngModel)]="emprendedor" interface="popover">
                      <ion-select-option *ngFor="let cliente of emprendedores" value="{{cliente.iduser}}">{{cliente.Nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="12">
                  <ion-item>
                    <ion-label>Tipo de Domicilio</ion-label>
                    <ion-select placeholder="Indica el Tipo" [(ngModel)]="domicileOption" interface="popover">
                      <ion-select-option value=2>Entrega</ion-select-option>
                      <ion-select-option value=1>Mandado</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <div *ngIf="domicileOption > 0">
                <ion-col size="12" size-md="12" size-lg="12" *ngIf="domicileOption == 2">
                  <ion-item>
                    <ion-label>Nombre del Cliente</ion-label>
                    <ion-input [(ngModel)]="cliente" interface="popover"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="12" *ngIf="domicileOption == 1">
                  <ion-item>
                    <ion-textarea rows="3" [(ngModel)]="direccion_compra" placeholder="Dirección de compra"></ion-textarea>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="12">
                  <ion-item>
                    <ion-textarea rows="3" [(ngModel)]="direccion_entrega" placeholder="Direccion de entrega"></ion-textarea>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="6">
                  <ion-item>
                    <ion-label>Teléfono</ion-label>
                    <ion-input interface="popover" [(ngModel)]="telefono" type="number"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="12">
                  <ion-item>
                    <ion-textarea rows="5" [(ngModel)]="domicilio.descripcion" placeholder="Observaciones"></ion-textarea>
                  </ion-item>
                </ion-col>
              </div>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="4">
              <div class="invoice" *ngFor="let conf of valores">
                <div class="invoice__data"> Total a Pagar:  <label>{{getTotalFactura(conf) | currency : 'USD' : 'symbol' : '1.0-0' }}</label> </div>
                <div class="invoice__note">*El valor a pagar debe ser cancelado al domiciliario al momento de entregar los productos a ser enviados</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="12" size-lg="12">
              <ion-button expand="block" color="success" size="large" (click)="prepararDomicilio()">Solicitar Domicilio</ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="inicio__body__financiero" *ngIf="user?.permisos=='1'" >
        <ion-grid >
          <ion-row >
            <ion-col size="12" size-md="6" size-lg="6" >
              <ion-item-divider color="success">
                <ion-label>
                  DOMICILIOS POR FACTURAR
                </ion-label>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" class="card">
                <div class="inicio__body__financiero__domi" *ngFor="let domi of aFacturar">
                  <div class="inicio__body__financiero__domi__nombres">
                    <div class="inicio__body__financiero__domi__nombres__emprende">
                      {{domi.emprende_nombre}}
                    </div>
                    <div class="inicio__body__financiero__domi__nombres__cliente">
                      {{domi.cliente_nombre}}
                    </div>
                  </div>
                  <div class="inicio__body__financiero__domi__valores">
                    <div class="inicio__body__financiero__domi__valores__domi">Domiciliario: {{domi.pago_domiciliario | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                    <div class="inicio__body__financiero__domi__valores__emprende">Emprendedor: {{domi.pago_emprendedor | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                    <div class="inicio__body__financiero__domi__valores__total">Total: {{getTotalFactura(domi) | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
                  </div>
                </div>  
                <div class="inicio__body__financiero__total">
                  <div class="inicio__body__financiero__total__texto">TOTAL A FACTURAR:</div>
                  <div class="inicio__body__financiero__total__valor" *ngIf="aFacturar.length > 0">{{totalGral | currency : 'USD' : 'symbol' : '1.0-0' }} </div>
                </div>
                
                <ion-button color="success" expand="block" size="large" (click)="facturar()">
                  <ion-icon name="arrow-redo-outline"></ion-icon> Facturar
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="inicio__body__financiero" *ngIf="user?.permisos=='2'" >
        <ion-grid >
          <ion-row >
            <ion-col size="12" size-md="6" size-lg="6" >
              <ion-item-divider color="success">
                <ion-label>
                  FACTURAS PENDIENTES
                </ion-label>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="12" size-lg="6" class="card">
                <div class="inicio__body__financiero__domi" *ngFor="let domi of facturas">
                  <div class="inicio__body__financiero__domi__nombres">
                    <div class="inicio__body__financiero__domi__nombres__emprende">
                      {{domi.cliente_nombre}}
                    </div>
                  </div>
                  <div class="inicio__body__financiero__domi__valores">
                    
                    <div class="inicio__body__financiero__domi__valores__total">{{getTotalFactura(domi) | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
                  </div>
                </div>  
                <div class="inicio__body__financiero__total">
                  <div class="inicio__body__financiero__total__texto">TOTAL A PAGAR:</div>
                  <div class="inicio__body__financiero__total__valor" *ngIf="facturas.length > 0">{{totalGral | currency : 'USD' : 'symbol' : '1.0-0' }} </div>
                </div>
                
                <ion-button color="success" expand="block" size="large" (click)="modal=true; selectedFile = null">
                  <ion-icon name="arrow-redo-outline"></ion-icon> Pagar Factura
                </ion-button>
            
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>
  <div class="modal" *ngIf="modal">
    <div class="modal__content">
      <div class="modal__content__close" (click)="modal=false">
        <ion-icon name="close-circle"></ion-icon>
      </div>
      <div class="modal__content__title">
        <ion-item-divider color="success">
          <ion-label>
            AGREGUE UNA FOTO O IMAGEN DE EVIDENCIA DE PAGO
          </ion-label>
        </ion-item-divider>
      </div>
      <div class="modal__content__file">
        <ion-input type="file" name="" (change)="cargarImagen($event)" ></ion-input>
        <img src="{{selectedFile}}" >
      </div>
      <ion-button color="success" expand="block" size="large" (click)="pagarFacturar()" *ngIf="selectedFile">
        <ion-icon name="arrow-redo-outline"></ion-icon> Enviar Evidencia de Pago
      </ion-button>
    </div>
  </div>
</ion-content>

