<ion-content>
  
  <app-content-area title="">
    <app-app-title titles="Información de la empresa"></app-app-title>

    <div class="name_id">
      <div class="name">
      <app-icon-bar         
        label="Nombre"  
        [model]="emprendedor.nombre"
        placeholder="Ingresa nombre"                        
        type="text"        
        iconName="storefront-outline">          
      </app-icon-bar> 
    </div>

    <div class="id">    
      <app-icon-bar 
        label="NIT"           
        placeholder="NIT"                        
        type="text"
        iconName="apps-outline">          
      </app-icon-bar>  
      </div>
    </div>

    <div class="contact">
      <app-icon-bar 
        label="Número de teléfono 1"            
        placeholder="Ingresa número de teléfono"                        
        type="text"
        iconName="call">          
      </app-icon-bar>  

      <app-icon-bar 
        label="Número de teléfono 2"        
        placeholder="Ingresa otro número de teléfono"                        
        type="text"
        iconName="call">          
      </app-icon-bar>  

      <app-icon-bar 
        label="Dirección"            
        placeholder="Ingresa dirección..."
        type="text"
        iconName="location-outline">          
      </app-icon-bar>
    </div>    

  <app-lines></app-lines>

  <app-app-title titles="Tipo de empresa"></app-app-title>
      <app-icon-bar 
        label="Tipo"                     
        placeholder="Ingresa dirección..."
        type="text"
        iconName="business-outline">          
      </app-icon-bar>  

  <app-lines></app-lines>

  <app-app-title titles="Datos de usuario"></app-app-title>    

      <div class="user">
        <app-icon-bar 
          label="Usuario"                
          placeholder="Ingresa dirección..."
          type="text"
          iconName="person">          
        </app-icon-bar>  

        <app-icon-bar 
          label="Contraseña"                      
          placeholder="Ingresa dirección..."
          type="password"
          iconName="key">          
        </app-icon-bar>  

        <ion-button 
          size="large" 
          expand="block"
          disabled
          >Restablecer
        </ion-button>

      </div>     


      <div class="buttons">
        <ion-button 
          size="large" 
          (click)="confirmarGuardado()"
          expand="block"
          >Guardar
        </ion-button>
        <ion-button 
          onclick="window.history.go(-1);"
          size="large" 
          expand="block"
          color="danger"
          >Cancelar
        </ion-button>
      </div>
  </app-content-area>

  
  <!-- 
  <app-fab-button>
  </app-fab-button>
  -->
    

<!-- 

  <div class="contentPage">
    <div class="contentPage__title">
      <div class="contentPage__title__back" onclick="window.history.go(-1);">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <div class="contentPage__title__back__text">Atras</div>
      </div>
      <div class="contentPage__title__text"></div>
    </div>
    <div class="contentPage__content">
      <div class="contentPage__content__form">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item-divider color="success">
                <ion-label>
                  DATOS EMPRESA
                </ion-label>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Nombre: </ion-label>
                <ion-input [(ngModel)]="emprendedor.nombre"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label>Tipo de Ide</ion-label>
                <ion-select placeholder="Selecciona un Tipo" [(ngModel)]="emprendedor.tip_ide" interface="popover">
                  <ion-select-option value="CC">Cedula</ion-select-option>
                  <ion-select-option value="PA">Pasaporte</ion-select-option>
                  <ion-select-option value="CE">Cedula Extranjeria</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Numero Ide</ion-label>
                <ion-input [(ngModel)]="emprendedor.num_ide"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="emprendedor.email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input [(ngModel)]="emprendedor.direccion"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input [(ngModel)]="emprendedor.telefono"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label>Tipo de Emprendedor {{emprendedor.tipo}}</ion-label>
                <select  [(ngModel)]="emprendedor.tipo" interface="popover">
                  <option [value]="+(tipo.id)" *ngFor="let tipo of tipos">{{tipo.nombre}}</option>
                </select>
                
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item-divider color="success">
                <ion-label>
                  DATOS CUENTA DE USUARIO
                </ion-label>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input [(ngModel)]="emprendedor.usuario" [disabled]="edit"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="emprendedor.password" [disabled]="edit"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="confirmarGuardado()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  -->  
  

</ion-content>