.element {    
    margin-left: 3%;
    margin-right: 3%;    
    margin-bottom: 1%;
    --background: transparent;
    .input__area {
        display: flex;        
        align-items: center;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 3.4rem;
        padding-top: 6px;
        border: 1px solid var(--ion-color-primary);

        .icon_input {
            ion-icon {
                /* FONDO DEL ICONO
                background-color: rgba(202, 202, 202, 1);*/
                background-color: var(--ion-color-primary) !important;
                padding: 10px 10px 10px 10px;
                border-radius: 8px 0 0 8px;                
                font-size: 2rem;
                color: var(--ion-color-success);
                /* COLOR DEL ÍCONO
                color: rgba(156, 156, 156, 1);*/
            }
        }

        .input {
            ion-input {
                font-family: 'Poppins-medium', sans-serif;
                color: rgba(92, 92, 92, 1);
                font-weight: 500;
                font-size: 16px;
            }            
            flex: 1;
            margin-left: 10px;
        }
    }
}


ion-label {
    margin-left: -15px;
    font-family: 'Poppins-medium', sans-serif;
    color: rgba(92, 92, 92, 1);
    font-size: 14px;
}