ion-menu ion-content {
  --ion-background-color: white !important;
  cursor: pointer;
}

.split-pane-visible > .split-pane-side {
  min-width: 250px !important;
  max-width: 250px !important;
}

.icon-user{
  padding-right: 15px;
}

.icon-size{
  font-size: 1.9rem;
  padding-right: 9px;
}