<ion-content>
  <div class="maps">
  <!--   <div class="maps__listado">
      <div class="maps__listado__title">DOMICILIARIOS</div>
      <div class="maps__listado__domi" >
        TODOS
      </div>
      <div class="maps__listado__domi" *ngFor="let domi of domiciliarios">
        {{domi.nombre}}
        <label><ion-icon name="call-outline"></ion-icon> {{domi.telefono}}</label>
        <label><ion-icon name="mail-outline"></ion-icon> {{domi.email}}</label>
      </div>
    </div> -->
    <div class="maps__mapa">
      <div id="mapId" style="width: 100%; height: 100%"></div>
    </div>
  </div>
</ion-content>
