ion-title {
    margin-top: 100px;
    font-family: 'Poppins-bold', sans-serif;
    color: var(--ion-color-dark);
    margin-bottom: 30px;
    width: 95%;
    margin-left: 2%;
}

ion-content {
    display: flex;            
    .maps {
        height: 80%;
        width: 95%;
        display: flex;
        flex-direction: row;
        border-radius: 30px;        
        border: solid 20px white; 
        box-shadow: 4px 4px 4px 2px rgba(225, 229, 245, 0.5);
        margin-left: 3%;       
        margin-right: 3%;        
    }
}